## 1.1读取csv文件

In [1]:
import pandas as pd

In [2]:
fpath = "C:/Users/THE KEY/Desktop/python_datum/pandas/data/movies/ratings.csv"

In [3]:
#使用pd.read_csv读取数据
ratings = pd.read_csv(fpath)

In [4]:
# 查看前几行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
# 查看形状
ratings.shape

(100836, 4)

In [6]:
# 查看列名列表
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
# 查看索引列
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [8]:
# 查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

## 1.2读取txt文件

In [9]:
fpath = "C:/Users/THE KEY/Desktop/python_datum/pandas/data/myself_data/some_data.txt"

In [10]:
puvu = pd.read_csv(
    fpath,
    sep = ',',
    header = None,
    names = ['time', 'number', 'year', 'province']
)

In [11]:
puvu.head()

         time                                number  year province
0  2011-01-01  4b34218c-9f37-4e66-b33e-327ecd5fb897  1689      湖南省
1  2011-01-01  5b6a6417-9a16-4243-9704-255719074bff  2353      河北省
2  2011-01-01  ae240260-68a9-4e59-b4c9-206be4c08a8d  2565      湖北省
3  2011-01-01  c833e851-880f-4e05-9de5-b547f5ffc5e1  2877      山东省
4  2011-01-01  dd27e822-884c-4d20-a309-986f6a90e2b9   947      安徽省

## 2.读取excel文件

In [12]:
fpath = "C:/Users/THE KEY/Desktop/python_datum/pandas/data/myself_data/data_excel.xlsx"

In [13]:
pvuv = pd.read_excel(fpath)

In [14]:
pvuv.head()

   考区                      报考政策咨询电话                    网上报名技术咨询电话
0  广州                  020-83550287                  020-83556708
1  深圳  0755-88132560\n0755-88132561                 0755-88227999
2  珠海    0756-2128738\n0756-2128335                  0756-2128738
3  汕头                 0754-88292208                 0754-88329783
4  佛山                 0757-83384972  0757-83874124\n0757-83876766

## 3.读取MySQL数据库

import pymysql
conn = pymysql.connect(
    host = '127.0.0.1',
    user = 'root',
    password = '12345678',
    database = 'test',
    charset = 'utf8'
)

mysql_page = pd.read_sql('select*from crazyant_pvuv', con = conn)