In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns = ['A','B','C','D']
)

In [3]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

### --------------------------------------------------

In [4]:
# 单列drop，删除某一列
df.drop("A",axis = 1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [5]:
# 单行drop，删除某一行
df.drop(1,axis = 0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

### ---------------------------------------------------------

### 聚合操作

#### 反直觉的。指定了哪个axis，就是这个axis要动起来，相当于要for循环遍历，而其他的axis保持不动

In [6]:
# 不填就默认axis = index  ==0
df.mean(axis=0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [7]:
# 按列聚合 axis = column
df.mean(axis=1)

0    1.5
1    5.5
2    9.5
dtype: float64

In [8]:
def sum_value(x):
    return x['A']+x['B']+x['C']+x['D']
df['总和'] = df.apply(sum_value, axis = 1)

In [9]:
df

   A  B   C   D  总和
0  0  1   2   3   6
1  4  5   6   7  22
2  8  9  10  11  38