#### index用途总结：
1.更方便的数据查询

2.使用index可以获得性能提升

3.自动的数据对齐功能

4.更多更强大的数据结构支持

In [1]:
import pandas as pd

In [2]:
fpath = "C:/Users/THE KEY/Desktop/python_datum/pandas/data/movies/ratings.csv"

In [3]:
df = pd.read_csv(fpath)

In [4]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
df.count()

userId       100836
movieId      100836
rating       100836
timestamp    100836
dtype: int64

### --------------------------------------------

### 1.使用index查询数据

In [6]:
# drop=False,让索引列仍保持在columns中
df.set_index("userId",inplace = True,drop = False)

In [8]:
df.head()

        userId  movieId  rating  timestamp
userId
1            1        1     4.0  964982703
1            1        3     4.0  964981247
1            1        6     4.0  964982224
1            1       47     5.0  964983815
1            1       50     5.0  964982931

In [9]:
df.index

Index([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
       ...
       610, 610, 610, 610, 610, 610, 610, 610, 610, 610],
      dtype='int64', name='userId', length=100836)

In [15]:
# 使用index查询方法，比条件查询简单
df.loc[400].head(6)

        userId  movieId  rating   timestamp
userId
400        400        6     5.0  1498870480
400        400       47     5.0  1498870391
400        400       50     5.0  1498870285
400        400      260     5.0  1498870148
400        400      293     5.0  1498870424
400        400      296     5.0  1498870341

### ---------------------------------------------

### 2.使用index会提升查询性能

In [17]:
# 将数据随即打散
from sklearn.utils import shuffle
df_shuffle = shuffle(df)

In [18]:
df_shuffle.head(10)

        userId  movieId  rating   timestamp
userId
590        590    58998     3.0  1258417421
582        582   134130     4.0  1446792676
380        380      104     3.0  1493420135
434        434     1208     3.5  1271039077
468        468      434     3.0   831400464
448        448     3471     4.0  1019132949
561        561     2422     2.5  1491094498
417        417   109487     3.5  1532133590
325        325     2511     4.0  1039399025
414        414     3178     4.0   963840620

In [23]:
# 索引是否递增(递减)
df_shuffle.index.is_monotonic_increasing
#df_shuffle.index.is_monotonic_decreasing

False

In [25]:
df_shuffle.index.is_unique

False

In [28]:
# 计时查询时间
%timeit df_shuffle.loc[500]

113 μs ± 939 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### ---------------------------------------------------------

In [29]:
# 将index排序后查询
df_sorted = df_shuffle.sort_index()

In [30]:
df_sorted.head()

        userId  movieId  rating  timestamp
userId
1            1     2858     5.0  964980868
1            1     1025     5.0  964982791
1            1      804     4.0  964980499
1            1     1291     5.0  964981909
1            1     2353     5.0  964983861

In [31]:
# 索引是否单增
df_sorted.index.is_monotonic_increasing

True

In [33]:
df_sorted.index.is_unique

False

In [35]:
# 性能明显提高
%timeit df_sorted.loc[500]

30.8 μs ± 87 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### --------------------------------------------------------

### 3.自动对齐功能

In [39]:
s1 = pd.Series([2,4,8], index=['a','b','c'])

In [40]:
s1

a    2
b    4
c    8
dtype: int64

In [41]:
s2 = pd.Series([3,6,9], index=['b','c','d'])

In [42]:
s2

b    3
c    6
d    9
dtype: int64

In [43]:
s1+s2

a     NaN
b     7.0
c    14.0
d     NaN
dtype: float64

###   ------------------------------------------------------------

### 4.使用index有更多更强大的数据结构支持