In [1]:
# 一个创建文件的方法
work_dir = "C:/Users/THE KEY/Desktop/python_datum/pandas/data/myself_data/split_task"
splits_dir = f"{work_dir}/splits"

import os
if not os.path.exists(splits_dir):
    os.mkdir(splits_dir)

In [2]:
import pandas as pd

In [3]:
df_source = pd.read_excel("C:/Users/THE KEY/Desktop/python_datum/pandas/data/myself_data/split_task/merge_task.xlsx")

In [4]:
df_source.head()

   userId  age gender  occupation zip-code name_task
0       1   24      M  technician    85711       wxm
1       2   53      F       other    94043       wxm
2       3   23      M      writer    32067       wxm
3       4   24      M  technician    43537       wxm
4       5   33      F       other    15213       wxm

In [5]:
df_source.index

RangeIndex(start=0, stop=943, step=1)

In [6]:
df_source.shape

(943, 6)

In [7]:
total_row_count = df_source.shape[0]
total_row_count

943

### ---------------------------------------------------------------------

In [8]:
# 将这个大Excel拆分
user_names = ['A','B','C','D','E','F']

In [9]:
# 每个人的任务数目
split_size = total_row_count // len(user_names)
if total_row_count % len(user_names) != 0:
    split_size += 1
split_size

158

In [10]:
df_subs = []
# 遍历元组的索引和名称
for idx,user_name in enumerate(user_names):
    begin = idx*split_size
    end = begin+split_size
    df_sub = df_source.iloc[begin:end]
    df_subs.append((idx,user_name,df_sub))

In [11]:
for idx,user_name,df_sub in df_subs:
    file_name = f"{splits_dir}/_{idx}_{user_name}.xlsx"
    df_sub.to_excel(file_name, index = False)

### ---------------------------------------------------------------

In [12]:
import os
excel_names =[]
for excel_name in os.listdir(splits_dir):
    excel_names.append(excel_name)
excel_names

['_0_A.xlsx', '_1_B.xlsx', '_2_C.xlsx', '_3_D.xlsx', '_4_E.xlsx', '_5_F.xlsx']

In [13]:
df_list = []

for excel_name in excel_names:
    # 构建路径
    excel_path = f"{splits_dir}/{excel_name}"
    # 读取数据
    df_split = pd.read_excel(excel_path)
    # 得到简化的用户名
    username = excel_name.replace(".xlsx","")[3]
    print(excel_name,username)
    # 添加用户名这一列
    df_split["username"] = username
    df_list.append(df_split)

_0_A.xlsx A
_1_B.xlsx B
_2_C.xlsx C
_3_D.xlsx D
_4_E.xlsx E
_5_F.xlsx F

In [14]:
# 使用pd.concat进行合并
df_merged = pd.concat(df_list)

In [15]:
df_merged.head()

   userId  age gender  occupation zip-code name_task username
0       1   24      M  technician    85711       wxm        A
1       2   53      F       other    94043       wxm        A
2       3   23      M      writer    32067       wxm        A
3       4   24      M  technician    43537       wxm        A
4       5   33      F       other    15213       wxm        A

In [16]:
df_merged.shape

(943, 7)

In [17]:
df_merged["username"].value_counts()

username
A    158
B    158
C    158
D    158
E    158
F    153
Name: count, dtype: int64

In [19]:
# 保存成一个文件
df_merged.to_excel(f"{work_dir}/merged_task.xlsx",index = False)