## 3.pandas数据结构

1.Series

2.DataFrame

3.从DataFrame中查询出Series

In [1]:
import pandas as pd
import numpy as np

###  ----------------------------------------------

In [2]:
s1 = pd.Series([1,'a',18,6,7])

In [3]:
# 左侧是索引，右侧是数据
s1

0     1
1     a
2    18
3     6
4     7
dtype: object

In [4]:
# 获取索引
s1.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
# 获取数据
s1.values

array([1, 'a', 18, 6, 7], dtype=object)

###  --------------------------------------------------

In [6]:
s2 = pd.Series([1,'b',14,99,'L'], index = ['a','b','c','d','e'])

In [7]:
s2

a     1
b     b
c    14
d    99
e     L
dtype: object

In [8]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

###   ------------------------------------------

In [9]:
sdata={'haha':10000,'hehe':66666,'hihi':88888,'huhu':99999}

In [10]:
s3 = pd.Series(sdata)

In [11]:
s3

haha    10000
hehe    66666
hihi    88888
huhu    99999
dtype: int64

### -----------------------------------------

In [12]:
s2

a     1
b     b
c    14
d    99
e     L
dtype: object

In [13]:
s2['a']

1

In [14]:
type(s2['a'])

int

In [15]:
s2[['c','b']]

c    14
b     b
dtype: object

In [16]:
type(s2[['c','b']])

pandas.core.series.Series

### ----------------------------------------

In [17]:
data={
    'state':['a','b','c','d','e'],
    'year':[221,1572,1874,1368,1911],
    'pop':[2,4,8,16,32]
}
df = pd.DataFrame(data)

In [18]:
df

  state  year  pop
0     a   221    2
1     b  1572    4
2     c  1874    8
3     d  1368   16
4     e  1911   32

In [19]:
df.dtypes

state    object
year      int64
pop       int64
dtype: object

In [20]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [21]:
df.index

RangeIndex(start=0, stop=5, step=1)

### ------------------------------------------------

In [22]:
df

  state  year  pop
0     a   221    2
1     b  1572    4
2     c  1874    8
3     d  1368   16
4     e  1911   32

In [23]:
df['year']

0     221
1    1572
2    1874
3    1368
4    1911
Name: year, dtype: int64

In [24]:
type(df['year'])

pandas.core.series.Series

In [25]:
df[['year','pop']]

   year  pop
0   221    2
1  1572    4
2  1874    8
3  1368   16
4  1911   32

In [26]:
type(df[['year','pop']])

pandas.core.frame.DataFrame

In [27]:
df.loc[1]

state       b
year     1572
pop         4
Name: 1, dtype: object

In [28]:
type(df.loc[1])

pandas.core.series.Series

In [29]:
df.loc[2:4]

  state  year  pop
2     c  1874    8
3     d  1368   16
4     e  1911   32

In [30]:
type(df.loc[2:4])

pandas.core.frame.DataFrame